@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e6f1f2;
  background-image: url(../components/images/paper_bg.jpg);
  /* background-size: 30%; */
}

.card-shadow {
  border: 2px solid black;
  box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.4), 0 30px 16px rgba(0, 0, 0, 0.3);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column widths */
  grid-gap: 20px; /* Add space between cards */
}

.creature-card {
  transition: all 0.3s ease;
}

.creature-card:hover {
  transform: scale(1.05); /* Increase size by 10% on hover */
}
